.logo{
    display: flex;
    justify-content: space-between;
    width: 20%;
    
}
.logo img{
    width: 100%;
    border: 2px dashed yellow;
    padding: 5%;
}
.welcome{
    display: flex;
    justify-content: space-between;
    padding-right: 3%;
    color: white;
    font-size: 20px;
}
app-navigation{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    border: 2px solid yellowgreen;
    
}
.order{
    background-image:url(https://cdn.dribbble.com/users/1318025/screenshots/4209569/pizza_day.gif) ;
}